extends layout

block content
    .register-box
        .register-logo
            a(href="/")
                b Web App Core

        .register-box-body
            p.login-box-msg Register a new membership
            form(action="/signup" method="post")
                .form-group.has-feedback
                    input(type="text", placeholder="Full name").form-control
                    span.glyphicon.glyphicon-user.form-control-feedback
                .form-group.has-feedback
                    input(type="email", placeholder="Email").form-control
                    span.glyphicon.glyphicon-envelope.form-control-feedback
                .form-group.has-feedback
                    input(type="password", placeholder="Password").form-control
                    span.glyphicon.glyphicon-lock.form-control-feedback
                .form-group.has-feedback
                    input(type="password", placeholder="Retype password").form-control
                    span.glyphicon.glyphicon-log-in.form-control-feedback
                .row
                    .col-xs-8
                        .checkbox.icheck
                            label
                                input(type="checkbox")
                                span &#32;I agree to the terms
                                a(href="#") &#32;terms



    script.
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });